<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>

    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
            <div id="map"></div>
        </div>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
        
        function initMap() {
  			// The location of Uluru
  			var ul = {lat: -41.29, lng: 174.78};
  			// The map, centered at Uluru
 			 map = new google.maps.Map(
      		document.getElementById('map'), {zoom: 5, center: ul});
  			marker1=new google.maps.Marker({position: uluru, map: map});
			marker2=new google.maps.Marker({position: uluru, map: map});
			marker3=new google.maps.Marker({position: uluru, map: map});
  			marker4=new google.maps.Marker({position: uluru, map: map});
  			marker5=new google.maps.Marker({position: uluru, map: map});
  			var weather;
  			var city;
  			map.addListener('click', function(e) {
    			fetch('/api/v1/getWeather2?lat='+e.latLng.lat()+'&lon='+e.latLng.lng())
    			.then(function(response){
    				if(response.status==200){
    					return response.json();			
					}
    			})
    			.then(function(json) {
    				alert(json.city+json.weather);
    				weather = json.weather; 
    				city = json.city; 
  				})
  				.then(function() {
    				fetch('/api/v1/getWeather?zip='+city)
    			.then(function(response){
    				if(response.status==200){
    					return response.json();			
					}
    			})
    			.then(function(json) {
    				var loca = new google.maps.LatLng(json.lat, json.lon);
   					marker2.setPosition(loca);
   					var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+city+'</h1>'+
            '<div id="bodyContent">'+
            '<p>'+weather+'</p>'+
            '</div>'+
            '</div>';
            var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
  				}); 
  				});			
  				
   			});
		}
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUhEzqKqzBcqAhWeo4sJqW13Y7Ox9SY7Y&callback=initMap"></script>
</html>